<%- include("../partials/head.ejs") %>


<main class="container-auth">
  <h1>Aca debe ir el input para el customer</h1>
  <a href="/shop/products">Continuar</a>
  <form>
    <label for="name-customer" ></label>
    <input type="text" name="name-customer">
    <button></button>
  </form>

</main>