<%- include("./partials/head.ejs") %>

<main class="container-main">
  <div class="home-box">
    <h1>Pumpernic</h1>
    <p>Panel de Administrador</p>

    <div class="home-actions">
      <a href="/auth" class="btn-home">Ingresar</a>
    </div>
    <div class="home-actions">
      <a href="/register" class="btn-home">Registrase</a>
    </div>
  </div>
</main>

<%- include("./partials/footer.ejs") %>