<%- include("./partials/head.ejs") %>

<main class="container-main">
  <div class="home-box">
    <h1>Pumpernic</h1>
    <p>Seleccioná cómo querés ingresar</p>

    <div class="home-actions">
      <a href="/auth" class="btn-home">Ingresar como administrador</a>
    </div>
  </div>
</main>

<%- include("./partials/footer.ejs") %>