<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

    <main>

        <section class="form-productos">
            <h2><%= about %></h2>
            
            <form id="getById-form" class="form-search-id">
                <label for="id">Id del producto:</label>
                <input type="number" name="id" id="id" required>
                <button type="submit">Buscar</button>
            </form>
        </section>

        <section class="secccion-productos">
            <hr>
            <div id="contenedor-productos">

            </div>
        </section>
    </main>

    <!-- Apuntamos a nuestro archivo JavaScript en /public/js/ -->
    <script src="/js/get.js"></script>

<%- include("../partials/footer.ejs") %>