<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<main class="container-main">
  <section>
    <a href="/auth" class="btn-admin">Ingresar como admin</a>
  </section>
  <section>
    <a href="/shop" class="btn-customer">Ingresar como customer</a>
  </section>
</main>