/*aca va el estilo de la pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f4f6;
}

:root {
  --primary-color: #dcbb35;
  --text-color: #111827;
  --bg-color: #f3f4f6;
  --border-radius: 8px;
  --font-main: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --color-b: #e5e7eb;
}

.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container a {
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--border-radius);
  padding: 8px;
  border: 0;
  cursor: pointer;
}

.layout {
  display: flex;

}

.sidebar {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid;
  border-color: var(--color-b);
}

.container-secc {
  margin-left: 200px;
  padding: 20px;
}