 <aside class="sidebar">

        <div class="logo">
            <a href="index.html" class="logo-container">
                <img src="" alt="logo pumpernic">
            </a>
        </div>

        <ul class="enlaces">
            <li class="enlace">
                <a href="/dashboard/index">
                    Ver Productos
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/consultar">
                    Consultar Producto
                </a>
            </li>

            
            <li class="enlace">
                <a href="/dashboard/crear">
                    Crear Producto
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/modificar">
                    Modificar Producto
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/eliminar">
                    Eliminar Producto
                </a>
            </li>
        </ul>
    </aside>