<header class="container-header">
    <div class="logo">
        <a href="index.html" class="logo-container">
            <img src="" alt="logo">
        </a>
        <span>Shop</span>
    </div>

    <!-- <form id="form-logout" method="POST" action="/login/destroy">
        <input type="submit" value="Cerrar sesion">
    </form> -->


</header>