<header class="container-header">
    <div class="logo">
        <a href="index.html" class="logo-container">
            <img src="/assets/logo.png" alt="logo">
        </a>
        <span>Shop</span>
    </div>

    <p class="alumnos">Alumnos: Leandro Ascevedo, Lucas Rossi, Kevin Cabezas</p>

    <!-- <form id="form-logout" method="POST" action="/login/destroy">
        <input type="submit" value="Cerrar sesion">
    </form> -->
    <button id="btn-logout" type="button">Cerrar sesión</button>

</header>